<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >UW Engagement</a>
      </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <button type="button" (click) = 'admincheck()' class="btn btn-primary">Admin</button>
                    </li>
                </ul>
            </div>
            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <button type="button" (click) = 'logincheck()' class="btn btn-primary">Organizer</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>