#label{
    color : black;
}

.custom::after{
    content:"*" ;
    color:red   
    }

.custom1::before{
    content:"*" ;
    color:red ;  
    }

    .ng-invalid.ng-touched {
        border-color: red;
    }

.spinvalid
{
    color:red ;
}



