

<div  *ngIf="register; else submitted" class = "container-fluid" style="    border-style: solid; background-color: white;"><font color="black">
    <h1 align="center">Register Event</h1>
    <form [formGroup]="registerform" (ngSubmit)="save(registerform.value, registerform.valid)" class ="form-group">


    <legend><font color="black">Sponsor Info</font></legend>
    <div class="form-group" >
        <div class = "custom">Organization</div>
        <select id="organization" class="form-control" formControlName = "organization">
            <option *ngFor="let org of orgoptions" [value]="org">
                {{org}}
              </option>
        </select>

        <div *ngIf="!registerform.controls.organization.valid && (registerform.controls.organization.dirty || registerform.controls.organization.touched)" class="alert alert-danger">
            <div [hidden] *ngIf = "!registerform.controls.organization.required">
                organization is required
            </div>
        </div>
    </div>
    
    <div class="form-group">
            <div class = "custom">department</div>
            <select id="department" class="form-control" formControlName = "department">
                <option *ngFor="let dept of deptoptions" [value]="dept">
                    {{dept}}
                  </option>
            </select>
            <div *ngIf="!registerform.controls.department.valid && (registerform.controls.department.dirty || registerform.controls.department.touched)" class="alert alert-danger">
                    <div [hidden] *ngIf = "!registerform.controls.department.required">
                        department is required
                    </div>
            </div>
    </div>
        <legend><font color="black">Event Information</font></legend>
        <div class = "custom">Event Name</div>
        <div class="form-group">
            <input type="text" maxlength="100" class="form-control" id="event_name" formControlName = "event_name" placeholder="Event Name">
        </div>
    
        <div class="form-group">
                <div class = "custom">Event Description</div>
                <textarea maxlength="500" class="form-control" id="event_desc" rows="3" formControlName = "event_desc" placeholder="Type Event Information"></textarea>
        </div>

        
        <div class="form-row">
                <div class="col-xs-4">
                    <div class="form-group">
                    <div class = "custom">Event Type</div>
                    <select id="event_type" class="form-control" formControlName = "event_type">
                    <option *ngFor="let type of event_type" [value]="type">
                            {{type}}
                    </option>
                    </select>
                </div>
                </div>
                
                <div class="col-xs-4">
                        <div class="form-group">
                        <div class = "custom">Open to Everyone? </div> 
                        <select id="priv" class="form-control" formControlName = "priv">
                                                <option value = "YES">Yes</option>
                                                <option value = "NO">No</option>
                                            </select>
                                        </div>
                </div>
                
                <div class="col-xs-4">
                        <div class="form-group">
                    <div class = "custom">Fee to attend the event </div> 
                        <input type="number" min = "0" class="form-control" id="fee" formControlName = "fee"> 
                    </div>
                    </div>

                
            </div>

            


            <div class="form-row">											
                    <div class="col-xs-6">
                            <div class="form-group">
                            <div class = "custom">Event Start Date and Time </div>
                        <input type="datetime-local" class="form-control" id="event_start_date_time" formControlName = "event_start_date_time">
                    </div>
                    </div>
                    <div class="col-xs-6">
                            <div class="form-group">
                        <div class = "custom">Event End Date and Time</div>
                            <input type="datetime-local" class="form-control" id="event_end_date_time" formControlName = "event_end_date_time">
                    </div>
                </div>
            </div>

            <div class="form-group" align="center">
                  <label for="event_file">File:(file size must be less than 2 MB)</label>
                    <input type="file"  id="event_file" (change)="fileChange($event)" name="upload" accept="image/png, image/jpeg, application/pdf" formControlName = "event_file">
                </div>

        
        <div class="form-group">
            <div formArrayName="speakers">
                    <legend><font color="black">Speakers</font></legend>
            <table id="sTable" class="table table-bordered">
              <tbody >
                    <tr  >
                            <td> First Name</td>
                            <td> Last Name  </td>
                            <td> Middle Name</td>
                            <td> Email</td>
                    </tr>
                <tr *ngFor="let speaker of registerform.controls.speakers.controls; let i=index"  [formGroupName]="i">
                  <td> <input style="border:none" type="text" maxlength="100" pattern="[a-zA-z]+" class="form-control" id="first_name" placeholder="First name" formControlName = "first_name">{{speaker.first_name}}  </td>
                  <td> <input style="border:none" type="text" maxlength="100" pattern="[a-zA-z]+" class="form-control" id="last_name" placeholder="Last name" formControlName = "last_name"> {{speaker.last_name}}  </td>
                  <td> <input style="border:none" type="text" maxlength="100" pattern="[a-zA-z]+" class="form-control" id="middle_name" placeholder="Middle name" formControlName = "middle_name"> {{speaker.middle_name}}</td>
                  <td> <input style="border:none" type="email" maxlength="100" class="form-control" id="email" placeholder="Email" formControlName = "email"> {{speaker.email}}</td>
                  <td> <button *ngIf="registerform.controls.speakers.controls.length > 1" (click)="deleteSpeaker(i)" class="btn btn-danger">Delete Button</button>  </td>
                </tr>
              </tbody>
             </table>
             <div class="wrapper">
                <button type="button" (click)="addNewSpeaker()" class="btn btn-primary">Add Speaker</button>
              </div>
            </div>
        </div>
        
        <legend><font color="black">Location</font></legend>
            <div class="form-group">
                    Building and Room
                    <input type="text" class="form-control" maxlength="100" id="buildingroom" formControlName = "building_room"placeholder="Building and Room number">
                </div>
            <div class="form-group">
                    <div class = "custom">Address line 1</div>
                <input type="text" class="form-control" maxlength="200" id="address1" formControlName = "address_line1" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                Address line 2
                <input type="text" class="form-control" maxlength="200" id="address2" formControlName = "address_line2" placeholder="Apartment, studio, or floor">
            </div>

            <div class="form-row">											
                    <div class="col-xs-3">
                            <div class="form-group">
                                <div class = "custom">County </div>
                                <select id="county" class="form-control" formControlName = "county">
                                <option *ngFor="let county of counties" [value]="county">
                                        {{county}}
                                </option>
                            </select>
                            </div>
                    </div>
                    <div class="col-xs-3">
                            <div class="form-group">
                                <div class = "custom">City(If Other, enter other city) </div>
                                <select id="city" class="form-control" formControlName = "city">
                                <option *ngFor="let city of cities" [value]="city">
                                        {{city}}
                                </option>
                            </select>
                            </div>
                    </div>
                    <div class="col-xs-3">
                            <div class="form-group">
                                Other City
                                <input type="text" maxlength="100" class="form-control" id="other_city" formControlName = "other_city">
                            </div>
                    </div>
                    <div class="col-xs-3">
                            <div class="form-group">
                                <div class = "custom">State </div>
                                <select id="state" class="form-control" formControlName = "state">
                                        <option *ngFor="let state of states" [value]="state.value">
                                                {{state.text}}
                                        </option>
                                    </select>
                                </div>
                    </div>

                </div>

                <div class="form-row">	
                <div class="col-xs-6">
                        <div class="form-group">
                            <div class = "custom">zip </div>
                            <input type="number" min = "1" maxlength="10" class="form-control" id="zip" formControlName = "zip">
                        </div>
                </div>
                <div class="col-xs-6">
                        <div class="form-group">
                            <div class = "custom">Country </div>
                            <select id="country" class="form-control" formControlName = "country">
                                    <option *ngFor="let country of countries" [value]="country.value">
                                            {{country.text}}
                                    </option>
                                </select>
                        </div>
                </div>
                </div>

    <legend><font color="black">Contact Information</font></legend>


    
    <div class="form-row">											
        <div class="col-xs-4">
                <div class="form-group">
                    First Name
                    <input type="text" class="form-control" maxlength="100" id="first_name" formControlName = "first_name" placeholder="First name">
                </div>
        </div>

        <div class="col-xs-4">
                <div class="form-group">
                    Last Name
                    <input type="text" class="form-control" maxlength="100" id="last_name" formControlName = "last_name" placeholder="Last name">
                </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <div class = "custom">Sponsoring Department </div>
                <input type="text" class="form-control" maxlength="100" id="sponsoring_department" formControlName = "sponsoring_department" placeholder="Sponsoring Department">
            </div>
        </div>
        </div>


        <div class="form-row">											
            <div class="col-xs-3">
                    <div class="form-group">
                        <div class = "custom">Primary Email (valid UW email)</div>
                        <input type="email" pattern="[a-z0-9._%+-]+@uwyo.edu" class="form-control" maxlength="100" id="email_1" formControlName = "email_1" placeholder="Primary Email">
                    </div>
            </div>
    
            <div class="col-xs-3">
                    <div class="form-group">
                        Secondary Email
                        <input type="email" class="form-control" maxlength="100" id="email_2" formControlName = "email_2" placeholder="Secondary Email">
                    </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    Phone Number
                    <input type="number" class="form-control" maxlength="20" id="phone_number" formControlName = "phone_number" placeholder="Phone number">
                </div>
            </div>

            <div class="col-xs-3">
                <div class="form-group">
                    Website
                    <input type="text" class="form-control" maxlength="100" id="website" formControlName = "website" placeholder="website">
                </div>
            </div>
        </div>

        <legend><font color="black">Additional Information</font></legend>


        <div class="form-row">											
            <div class="col-xs-3">
                    <div class="form-group">
                        Anticipated Cost
                        <input type="number" class="form-control" maxlength="20" id="anticipated_cost" formControlName = "anticipated_cost" placeholder="Anticipated Cost">
                    </div>
            </div>
    
            <div class="col-xs-3">
                    <div class="form-group">
                        Anticipated Number of attendees
                        <input type="number" class="form-control" maxlength="20" id="anticipated_num_attendees" formControlName = "anticipated_num_attendees" placeholder="Anticipated Number of attendees">
                    </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    Event cost
                    <input type="number" class="form-control" maxlength="20" id="event_cost" formControlName = "event_cost" placeholder="Event cost">
                </div>
            </div>

            <div class="col-xs-3">
                <div class="form-group">
                    Attendees Count
                    <input type="number" class="form-control" maxlength="20" id="attendees_count" formControlName = "attendees_count" placeholder="Attendees count">
                </div>
            </div>
        </div>

        <div class="form-row">											
            <div class="col-xs-4">
                    <div class="form-group">
                        Funding Source-1
                        <select id="funding_source1" class="form-control" formControlName = "funding_source1">
                            <option *ngFor="let src of fundingsrcs" [value]="src">
                                    {{src}}
                            </option>
                        </select> 
                    </div>
            </div>
    
            <div class="col-xs-4">
                <div class="form-group">
                    Funding Source-2
                    <select id="funding_source2" class="form-control" formControlName = "funding_source2">
                        <option *ngFor="let src of fundingsrcs" [value]="src">
                                {{src}}
                        </option>
                    </select> 
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    Other Funding Sources
                    <input type="text" class="form-control" maxlength="200" id="otherfndsrcs" formControlName = "funding_other" placeholder="Other funding sources">
                </div>
            </div>
            </div>


            <div class="form-row">											
                <div class="col-xs-4">
                        <div class="form-group">
                            Funding received from source-1
                            <input type="number" class="form-control" maxlength="20" id="cost_funding1" formControlName = "cost_funding1" placeholder="Funding received">
                            </div>
                </div>
        
                <div class="col-xs-4">
                    <div class="form-group">
                            Funding received from source-2
                            <input type="number" class="form-control" maxlength="20" id="cost_funding2" formControlName = "cost_funding2" placeholder="Funding received">
                    </div>
                </div>
    
                <div class="col-xs-4">
                    <div class="form-group">
                        Funding from other Sources
                        <input type="number" class="form-control" maxlength="20" id="cost" formControlName = "cost_funding_other" placeholder="funding from other sources">
                    </div>
                </div>
                </div>

                <div class="form-group">
                    <div formArrayName="co_sponsors">
                            <legend><font color="black">Co-Sponsors</font></legend>
                    <table id="sTable" class="table table-bordered">
                      <tbody >
                        <tr *ngFor="let co_sponsor of registerform.controls.co_sponsors.controls; let i=index"  [formGroupName]="i">
                          <td> <input style="border:none" type="text" maxlength="100" pattern="[a-zA-z]+" class="form-control" id="co_sponsor_name" placeholder="co-sponsor name" formControlName = "co_sponsor_name">{{co_sponsor.co_sponsor_name}}  </td>
                          <td> <input style="border:none" type="email" maxlength="100" class="form-control" id="co_sponsor_email" placeholder="co-sponsor email" formControlName = "co_sponsor_email"> {{co_sponsor.co_sponsor_email}}  </td>
                          <td> <input style="border:none" type="number" maxlength="20"  class="form-control" id="co_sponsor_phone_number" placeholder="co-sponsor phone number" formControlName = "co_sponsor_phone_number"> {{co_sponsor.co_sponsor_phone_number}}</td>
                          <td> <input style="border:none" type="text" maxlength="100" class="form-control" id="co_sponsor_website" placeholder="co-sponsor website" formControlName = "co_sponsor_website"> {{co_sponsor.co_sponsor_website}}</td>
                          <td> <button *ngIf="registerform.controls.co_sponsors.controls.length > 1" (click)="deletecosponsor(i)" class="btn btn-danger">Delete Button</button>  </td>
                        </tr>
                      </tbody>
                     </table>
                     <div class="wrapper">
                        <button type="button" (click)="addNewcosponsor()" class="btn btn-primary">Add Co-sponsor</button>
                      </div>
                    </div>
                </div>

            <!--


    
    <div class="form-group">
        Event Description<textarea maxlength="500" class="form-control" id="eventInfo" rows="3" formControlName= "event_desc" ></textarea>
    </div>
    
      <div formArrayName="speakers">
      <h4>Speakers</h4>
      <table id="sTable" class="table table-bordered">
        <tbody >
          <tr *ngFor="let itemrow of invoiceForm.controls.speakers.controls; let i=index"  [formGroupName]="i">
            <td> <input style="border:none" type="text" maxlength="100" pattern="[a-zA-z]+" class="form-control" id="fSEvent" placeholder="First name" formControlName = "first_name">{{itemrow.first_name}}  </td>
            <td> <input style="border:none" type="text" maxlength="100" pattern="[a-zA-z]+" class="form-control" id="lSEvent" placeholder="Last name" formControlName = "last_name"> {{itemrow.last_name}}  </td>
            <td> <input style="border:none" type="text" maxlength="100" pattern="[a-zA-z]+" class="form-control" id="mSEvent" placeholder="Middle name" formControlName = "middle_name"> {{itemrow.middle_name}}</td>
            <td> <input style="border:none" type="email" maxlength="100" class="form-control" id="emailSEvent" placeholder="Email" formControlName = "email"> {{itemrow.email}}</td>
            <td> <button *ngIf="invoiceForm.controls.speakers.controls.length > 1" (click)="deleteSpeaker(i)" class="btn btn-danger">Delete Button</button>  </td>
          </tr>
        </tbody>
       </table>
       <button type="button" (click)="addNewSpeaker()" class="btn btn-primary">Add Speaker</button>
        </div>-->
    
            <button type="submit" [disabled]="!registerform.valid">Submit</button>
        </form>
    </font>
 </div> 
 

    <eventsubmitcomponent [event] = "events" *ngIf = "!register">
         
    
    </eventsubmitcomponent>