<h3 class="page-header">Add Invoice</h3>
<form [formGroup]="invoiceForm">
  <div formArrayName="itemRows">
    <div *ngFor="let itemrow of itemRows.controls; let i=index" [formGroupName]="i">
      <h4>Invoice Row #{{ i + 1 }}</h4>
      <div class="form-group">
        <label>Item Name</label>
        <input formControlName="itemname" class="form-control">
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <input formControlName="itemqty" class="form-control">
      </div>
      <div class="form-group">
         <label>Unit Cost</label>
         <input formControlName="itemrate" class="form-control">
      </div>
      <div class="form-group">
        <label>Tax</label>
        <input formControlName="itemtax" class="form-control">
      </div>
      <div class="form-group">
        <label>Amount</label>
        <input formControlName="amount" class="form-control">
      </div>
      <button *ngIf="i > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete Button</button>
    </div>
  </div>
  <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button>
</form>
<p>{{invoiceForm.value | json}}</p>